.DS_Store
.env
*.env
*.log
*.db
*.sqlite3

node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.env*
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
env/
venv/
backend/__pycache__/
backend/venv/
backend/env/
backend/.env*

.vscode/
.idea/
Thumbs.db

backend/credentials.json
backend/token.json